[submodule "third_party/Unity"]
	path = third_party/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "third_party/drm"]
	path = third_party/drm
	url = https://gitlab.com/freedesktop-sdk/mirrors/freedesktop/mesa/drm.git
[submodule "third_party/libinput"]
	path = third_party/libinput
	url = https://gitlab.com/freedesktop-sdk/mirrors/freedesktop/libinput/libinput.git
[submodule "third_party/mesa"]
	path = third_party/mesa
	url = https://gitlab.com/freedesktop-sdk/mirrors/freedesktop/mesa/mesa.git
	branch = 26.1
[submodule "third_party/wayland"]
	path = third_party/wayland
	url = https://gitlab.freedesktop.org/wayland/wayland.git
[submodule "third_party/libffi"]
	path = third_party/libffi
	url = https://github.com/libffi/libffi.git
[submodule "third_party/libexpat"]
	path = third_party/libexpat
	url = https://github.com/libexpat/libexpat.git
